body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 15px;
    text-align: center;
}

.header-container {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.header-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.header-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 200px;
    margin-bottom: 15px;
}

.product-info {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 8px;   
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}

.product-card:hover .product-info {
    display: block;
}

.product-title {
    font-size: 1.2rem;
    color: #fff;
    margin: 10px 0;
}

.boton {
    padding: 1rem;
    margin-top: 3rem;
    border: 1px solid black;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.user-image-container {
    position: relative;
    display: inline-block;
    width: 180px;   
    height: 180px;
    margin: 10px;
    border-radius: 50%; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.user-image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.user-info {
    display: flex;
    position: absolute;
    top: 0; 
    left: 0; 
    flex-direction: column;
    width: 100%;
    height: 100%; 
    text-align: center;
    justify-content: center;  
    align-items: center;  
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; 
    transition: opacity 0.3s ease;
    border-radius: 50%; 
}

.user-image-container:hover .user-info {
    opacity: 1;
}

.user-name {
    font-size: 1.1rem;
    color: #fff;
    margin: 5px 0;
}

.user-description {
    font-size: 0.9rem;
    color: #fff;
}
